<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/color-variables.css">
<link rel="icon" type="image/png" href="./img/logo-light.png" />
<link rel="preload" href="./img/polaros.png" as="image">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://kit.fontawesome.com/4553d7ab49.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="/scripts/loader.js"></script>


<meta property="og:image" content="https://cdn.discordapp.com/attachments/902085943941550080/916744498757906462/unknown.png?size=2048">
<meta property="theme-color" content="#336a86">
<meta name="description" content="PolarOS is a hobbiest, free to-use operating system using the latest technology and security to get you unique look and feel while using our operating system it comes fully debloated and will be easy to install/use for anyone">
<meta property="og:type" content="website">
<meta property="og:url" content="https://polaros.xyz">
<meta property="og:title" content="PolarOS">
<meta property="og:description" content="PolarOS is a hobbiest, free to-use operating system using the latest technology and security to get you unique look and feel while using our operating system it comes fully debloated and will be easy to install/use for anyone">
<meta property="og:keywords" content="polaros, polar, polar id, polarid, polar store, polarstore, linux, polar os, linux distro, polar linux, linux polar, operating system, discord, development">
<meta name='dmca-site-verification' content='bjlwQUtwbUhPS3J0c2NvM3l0Ui9Fdz090' />

<title>PolarOS</title>