<div class="minimized">
    <a href="/"><div class="logo"></div></a>
    <div class="menu" onclick="openMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="social">
        <a href="https://polaros.xyz/github" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://polaros.xyz/discord" target="_blank"><i class="fab fa-discord"></i></a>
        <a href="https://polaros.xyz/telegram" target="_blank"><i class="fab fa-telegram"></i></a>
        <a href="https://polaros.xyz/twitter" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
</div>

<div class="extended">
    <ul>
        <li><a href="/" onclick="closeMenu()">Homepage</a></li>
        <li><a href="https://id.polaros.xyz/dashboard" onclick="closeMenu()">PolarID</a></li>
        <li><a href="/versions/" onclick="closeMenu()">Download</a></li>
        <li><a href="/docs/" onclick="closeMenu()">Documentation</a></li>
        <li><a href="/about/" onclick="closeMenu()">About project</a></li>
    </ul>
    <div class="social">
        <a href="https://polaros.xyz/github" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://polaros.xyz/discord" target="_blank"><i class="fab fa-discord"></i></a>
        <a href="https://polaros.xyz/telegram" target="_blank"><i class="fab fa-telegram"></i></a>
        <a href="https://polaros.xyz/twitter" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
</div>