# This is the TEMPLATE for .env
# You should manually create a .env file and enter all values in this file
# Once the file is created, who cares if you delete these comments or not ¯\_(ツ)_/¯

# Port where the website will be hosted on.
PORT=