<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
    <body>
        <div class="loader-wrapper">
            <div class="loader"><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="container other">
            <header>
                <%- include('./partials/nav.ejs') %>
            </header>

            <%- include('./partials/dark.ejs') %>

            <div class="content white about">
                <h2>About PolarOS project</h2>
                <p>PolarOS is a hobbiest, free to-use operating system using the latest technology and security to get you the kali linux- macos look and feel while using our system our operating system comes fully debloated and will be easy to install. Using 2021 technology we can do alot of new stuff when coming to design but also security. One of our things we focus the most on is refreshing your computer by optimizing performance whenever we can. We plan to make more and more versions and shapes of our os while updating our main operating system.</p>
                <h3>Got any questions?</h3>
                <p>Send us an <a href="mailto:support@polaros.xyz">e-mail</a> or join our <a href="https://discord.gg/SjCH9rYQWV">discord server</a></p>
            </div>
        </div>
        <script src="../scripts/script.js"></script>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>