<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://polaros.xyz/css/style.css">
    <script src="https://kit.fontawesome.com/4553d7ab49.js" crossorigin="anonymous"></script>
    <title>Adblock detected</title>
</head>
<body>
    <div class="container">
        <div class="content white about" style="padding-top: 60px;">
            <h2 style="margin-bottom: 30px; color: crimson;">AdBlock detected</h2>
            <p>Our website is made possible by displaying ads to our visitors. Please support us by whitelisting our website.</p>
            <button onclick="history.go(0)">Ok, I will whitelist it</button>
        </div>
    </div>
</body>
<style>
    button {
        text-decoration: none;
        background-color: #6D6D6D;
        padding: 15px 35px;
        color: #555555;
        border-radius: 50px;
        border-radius: 50px;
        background: #f1f1f1;
        box-shadow:  12px 12px 24px #d9d9d9,
                    -12px -12px 24px #ffffff;
        font-size: 1.1em;
        outline: none;
        border: none;
        margin-top: 40px;
        cursor: pointer;
    }

    button:hover {
        background: linear-gradient(145deg, #d9d9d9, #ffffff);
        box-shadow:  12px 12px 22px #d9d9d9,
                    -12px -12px 22px #ffffff;
    }
</style>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T5Z4YHX5K0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T5Z4YHX5K0');
</script>

</html>
