a {
    text-decoration: none;
    background-color: #6D6D6D;
    padding: 15px 35px;
    color: #555555;
    border-radius: 50px;
    border-radius: 50px;
    background: #f1f1f1;
    box-shadow:  12px 12px 24px #d9d9d9,
                -12px -12px 24px #ffffff;
    font-size: 1.1em;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 40px;
}

a:hover {
    background: linear-gradient(145deg, #d9d9d9, #ffffff);
    box-shadow:  12px 12px 22px #d9d9d9,
                -12px -12px 22px #ffffff;
}