$loader-bg: var(--loader-bg);
$loader-ring: var(--loader-ring);
$bg-other: var(--header);
$header-bg: var(--header);
$logo: var(--logo);
$bar-color: var(--h2-desc);
$h2-color: var(--h2-h4-versions-about-footer-hover);
$h2-description: var(--h2-desc);
$h2-additional: var(--h2-additional);
$h3-color: var(--h2-desc);
$sysreq: var(--sysreq);
$social-links-color: var(--social);
$social-links-color-hover: var(--social-hover-p-desc);
$p-desc-color: var(--social-hover-p-desc);
$a-hover-color: var(--a-hover);
$toggle-color: var(--toggle-color);
$toggle-bg: var(--toggle-bg);
$bg: var(--main-version-bg);
$solid-bg: var(--main-bg-white);
$version-bg: var(--main-version-bg);
$download-bg: var(--main-version-bg);
$h1-color: var(--h1);
$h4-color: var(--h2-h4-versions-about-footer-hover);
$h5-color: var(--h5);
$footer-color: var(--footer-color);
$footer-a-hover: var(--footer-hover);
$h3-versions-about: var(--h3-versions-about-download-sysreq-hover);
$download-bg: var(--download-bg);
$download-color: var(--h3-versions-about-download-sysreq-hover);
$sysreq-color: var(--nav-items-sysreq-question-p-a);
$sysreq-hover: var(--h3-versions-about-download-sysreq-hover);
$p-versions-about: var(--p-a-versions-about);
$a-versions-about: var(--p-a-versions-about);
$neuro-shadow: var(--neuro-shadow);
$neuro-hover: var(--neuro-hover-bg);
$version-bg: var(--main-version-bg);
$version-shadow: var(--version-hover-shadow);
$version-shadow-hover: var(--version-hover-shadow);
$span-color: var(--span-h-question);
$p-color: var(--p);
$download-hover: var(--download-hover-bg);
$question-h: var(--question);
$question-text: var(--nav-items-sysreq-question-p-a);
$footer-bg: var(--footer-bg);